body {
    background-color: lightblue;
    frontgraund-color: pinkellow;
}
h {
    color: green;
    margin-left: 20px;
}
h1 {
  color: #0056b3;
  text-align: center;
}
p {
    font-weight: bold;
    color: white;
  }
p1 { 
    font-size: 60%; 
    font-family: Arial, Helvetica, sans-serif; 
    color: green; 
   }

.button:hover {
  background-color: #218838;
}
