body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}
h1 {
    color: blue;
}

.btn-new:hover {
    background-color: #45a049; /* Изменение цвета при наведении */
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

