body {
    background-color: lightblue;
}
h {
    color: green;
    margin-left: 20px;
}
p {
    font-weight: bold;
  }
p1 { 
    font-size: 60%; 
    font-family: Arial, Helvetica, sans-serif; 
    color: green; 
   }
